In [20]:
import numpy as np
import pandas as pd
np.random.seed(1)

size_train=8
size_all=15

In [3]:
full_labels = pd.read_csv('data/euro_labels.csv')

In [4]:
full_labels.head()

      filename  width  height   class  xmin  ymin  xmax  ymax
0  2Q==(1).jpg    225     225  eur002     1     1   225   224
1  2Q==(2).jpg    224     225  eur002     1     1   218   218
2  2Q==(4).jpg    225     225  eur002     1     1   225   223
3  2Q==(5).jpg    225     225  eur002     3     3   218   220
4     2Q==.jpg    226     223  eur002     1     1   225   223

In [5]:
grouped = full_labels.groupby('filename')

In [6]:
grouped.apply(lambda x: len(x)).value_counts()

1    15
dtype: int64

### Split each file into a group in a list

In [7]:
gb = full_labels.groupby('filename')

In [8]:
grouped_list = [gb.get_group(x) for x in gb.groups]

In [9]:
len(grouped_list)

15

In [22]:
train_index = np.random.choice(len(grouped_list), size=size_train, replace=False)
test_index = np.setdiff1d(list(range(size_all)), train_index)

In [23]:
len(train_index), len(test_index)

(8, 7)

In [24]:
# take first 200 files
train = pd.concat([grouped_list[i] for i in train_index])
test = pd.concat([grouped_list[i] for i in test_index])

In [25]:
len(train), len(test)

(8, 7)

In [26]:
train.to_csv('data/train_labels.csv', index=None)
test.to_csv('data/test_labels.csv', index=None)